In [3]:
import numpy as np
from sklearn.metrics import confusion_matrix

y_true = np.array(['cat','dog','dog','cat','fish','dog','fish'])
y_pred = np.array(['cat','cat','cat','cat','fish','dog','fish'])

confusion_matrix(y_true, y_pred, labels=['cat','dog','fish'])

array([[2, 0, 0],
       [2, 1, 0],
       [0, 0, 2]], dtype=int64)

In [3]:
import pandas as pd

data = pd.DataFrame({
          'Sub-data 1': list(range(1,100)),
          'Sub-data 2': list(range(1,100)),
          'Sub-data 3': list(range(1,100))
      })

data.head(n=15)

    Sub-data 1  Sub-data 2  Sub-data 3
0            1           1           1
1            2           2           2
2            3           3           3
3            4           4           4
4            5           5           5
5            6           6           6
6            7           7           7
7            8           8           8
8            9           9           9
9           10          10          10
10          11          11          11
11          12          12          12
12          13          13          13
13          14          14          14
14          15          15          15